.about {
  /*width: 100%;*/
  width: 1260px;
  max-width: 1260px;
  padding: 50px;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  padding-top: 112px; /* same height as header */
}

.about-title {
  font-size: 60px;
  font-weight: 200;
  color: #F9A825;
}

.about-intro,
.about-desc {
  font-size: 35px;
  font-weight: 100;
  color: #3B8DD9;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .about {
    width: 100%; /* Ensure the section takes up full width on small screens */
    padding: 30px 20px; /* Adjust padding */
  }

  .about-title {
    font-size: 45px;
  }

  .about-intro,
  .about-desc {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .about {
    width: 100%; /* Ensure the section takes up full width on smaller screens */
    padding: 30px 20px; /* Adjust padding */
  }

  .about-title {
    font-size: 36px;
  }

  .about-intro,
  .about-desc {
    font-size: 22px;
  }
}


  
  