.about {
  width: 100%;
  max-width: 1260px;
  padding: 50px;
  margin: 0 auto;
  text-align: left; /* Change text alignment to left */
  box-sizing: border-box;
  padding-top: 112px; /* same height as header */
}

.about-title {
  font-size: 60px;
  font-weight: 200;
  color: #F9A825;
  text-align: left; /* Align title to left */
}

.about-intro,
.about-desc {
  font-size: 35px;
  font-weight: 100;
  color: #3B8DD9;
  margin-top: 20px;
  text-align: left; /* Align text to left */
  width: 100%; /* Make sure it takes the full width */
  max-width: 100%; /* Prevents wrapping issues */
}
